.main-div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(8, 8, 8);
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: #fff;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

ul li {
  list-style: none;
}

ul li a {
  padding: 10px;
  color: #fff;
  font-size: 18px;
}

.logo a {
  font-size: 25px;
  font-weight: 600;
}


.card-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(8, 8, 8);
}

.card {
  margin: 0 -8px 32px -8px;
  color: rgba(0, 0, 0, 0.87);
  padding: 30px;
  border-radius: 10px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
  padding: 30px;
  border-radius: 10px;
  border-radius: 0.25rem;
  padding: 28px;
}

.card .card-title {
  display: flex;
  justify-content: flex-end;
  font-weight: 300;
  margin-bottom: 0.75rem;
  margin: 8px;
  margin-left: 135px;
}

.card .card-icon {
  display: flex;
    position: absolute;
    top: -50px;
    left: 22px;
    color: white;
    width: 110px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 8%;
}

.icons {
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-size: 3.2rem;

}

.card .card-data {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  font-weight: 300;
}

@media only screen and (max-width: 520px){
  .card-container{
    margin-top: 100px;
    justify-content: center ;
  }
}